<template>
<div>
  <Header/>
  <main role="main" class="container mt-4">

      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><NuxtLink to="/user/listing">Users</NuxtLink></li>
              <li class="breadcrumb-item active" aria-current="page">Add User</li>
          </ol>
      </nav>

      <div class="starter-template">
        <h1>Add User</h1>
        <div class="row">
            <div class="alert" :class="alert_class" role="alert" v-if="message">
                {{message}}
            </div>
          <form class="row g-3 needs-validation" novalidate id="register_form" enctype="multipart/form-data">
  <div class="col-md-4">
    <label class="form-label">First name <span class="imp">*</span></label>
    <input type="text" name="first_name" class="form-control" required>
      <div class="invalid-feedback">
          Please enter first name.
      </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name <span class="imp">*</span></label>
    <input type="text" name="last_name" class="form-control" required>
      <div class="invalid-feedback">
          Please enter last name.
      </div>
  </div>
              <div class="col-md-4">
                  <label for="validationCustom02" class="form-label">Email <span class="imp">*</span></label>
                  <input name="email" type="email" class="form-control" required>
                  <div class="invalid-feedback">
                      Please enter valid email.
                  </div>
              </div>

              <div class="col-md-3">
                  <label class="form-label">Country <span class="imp">*</span></label>
                  <select name="country_code" class="form-select" required>
                      <option selected disabled value="">Choose...</option>
                      <option value="+971">United Arab Emirates</option>
                  </select>
                  <div class="invalid-feedback">
                      Please choose country.
                  </div>
              </div>

              <div class="col-md-3">
                  <label for="validationCustom05" class="form-label">Mobile Number <span class="imp">*</span></label>
                  <input name="user_phone" type="text" class="form-control" required>
                  <div class="invalid-feedback">
                      Please provide mobile number.
                  </div>
              </div>

              <div class="col-md-4 mb-3">
                  <label class="form-label">Profile Picture</label>
                  <input name="user_profile_image" class="form-control" type="file" id="formFile">
              </div>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions <span class="imp">*</span>
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-success" type="button" @click="validateForm" v-if="!show_loader">Register</button>
      <div class="spinner-border" role="status" v-if="show_loader">
          <span class="sr-only"></span>
      </div>
  </div>
</form>
        </div>
      </div>
    </main>
</div>  
</template>

<script>
export default {
    data(){
        return {
            message:'',
            success:false,
            alert_class:'',
            show_loader:false
        }
    },
  methods:{
    validateForm(){
        var forms = document.querySelectorAll('.needs-validation');
        var error=0;
        //console.log(formData.first_name);

         Array.prototype.slice.call(forms).forEach(function (form){

            if (!form.checkValidity()) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');

                if(form.checkValidity()){
                    error=0;
                }else{
                    error=1;
                }

        });

         if(!error){
             this.registerUser();
         }
    },
      registerUser(){
            this.show_loader=true;
          var myForm = document.getElementById('register_form');
          //var formData = new FormData(myForm);
          var formData = new FormData(myForm);

          fetch("https://dev.athr.ae/api/register-users", {
              method: 'POST',
//              headers: {
//                  'Content-Type': 'application/json',
//              },
              body: formData
          }).then(res => {
              if (!res.ok) {
                  // create error instance with HTTP status text
                  const error = new Error(res.statusText);
                  error.json = res.json();
                  throw error;
              }
              return res.json();
          }).then(json => {
                    console.log(json);
                    if(json.error){
                        this.message = "Error Occured";
                        this.alert_class="alert-danger";
                    }else if(json.success){
                        this.message = json.message;
                        this.alert_class="alert-success";
                        document.getElementById("register_form").classList.remove('was-validated');
                        document.getElementById("register_form").reset();

                        //this.success=true;
                    }


              //this.results = JSON.parse(json.results);
              //this.total_records=json.total_records;
              //this.total_pages=json.total_pages;
          }).then(() => {
                  console.log("Always");
                    this.show_loader=false;
                  //this.showLoader=false;
                  //loading.value = false;
              });
      }
  }
}
</script>

<style>
    .imp{
        color:red;
    }
    .form-label{
        font-weight: bold;
    }
    form{
        /*color:white;*/
        background: rgba(63,36,95,0.8);
        background: #f8f9fb;
        border-radius: 5px;
        padding-bottom: 30px;
    }
</style>
